    <div id="fb-root"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
      // loading FB, Twitter code
      // fb
      (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=672186636154514";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
  <div class="fb-share-button" data-href="http://fwdnow.com" data-width="100" data-type="button"></div>

  <a id="twitter-share-button" href="https://twitter.com/share">Tweet</a>

  Call congress:
  <form action="https://secure.mcommons.com/profiles/join" method="post">
    <input type="hidden" name="redirect_to" value="http://www.fwd.us/call_thank_you" />
    <input id="zipcode" type="text" class="text" name="person[postal_code]" placeholder="Zip Code" value="">
    <input type="hidden" name="mconnect" value="VO5368E793DE4ECCFA7910A7CC1D47A6FF" />
          (FWD.us House Targets (TA))
          <label>Phone Number:</label>
          <input type="text" name="person[phone]" />
          <input type="submit" value="Call Me!" />
  </form>

  <div>
    Postcards
    <button id="send_postcard">Send Postcard to Congress</button>
  </div>

  <script>
    function popupwindow(url, w, h) {
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      return window.open(url, "", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    }
    $('#twitter-share-button').click(function(e) {
      e.preventDefault();
      var rep = JSON.parse(localStorage.getItem('congressman'));
      popupwindow("https://twitter.com/share?" + $.param({
        url: "http://fwdnow.com",
        related: "fwd_us",
        text: "I am moving #fwdnow with @shakira to support immigration reform. Join us" +
          (rep ? " Rep. @" + rep.twitter_id : "")
      }), 600, 300);
    });
    $('input#zipcode').change(function(e) {
      var zipcode = $('input#zipcode').val();
      if (zipcode.length < 5) {
        localStorage.removeItem('congressman');
      }
      if (zipcode.length == 5) {
        $.getJSON("https://congress.api.sunlightfoundation.com/legislators/locate", {
          zip: zipcode,
          apikey: "afab65a2fbb74ec5b72ea09d9ebfd938"
        }, function(response) {
          var house_reps = response.results.filter(function(rep) {
            return rep.chamber === "house";
          });
          // we'll have more than one rep if zip code is ambiguous,
          // just pick first one
          if (house_reps.length > 0) {
            var our_rep = house_reps[0];
            localStorage.setItem('congressman', JSON.stringify(our_rep));
          }
        });
      }
    });
    $('#send_postcard').click(function(e) {
      e.preventDefault();
      $.ajax('/api/send_postcard', {
        type: "POST",
        headers: {'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'},
        data: {
          message: "Support Immigration reform yo!",
          photo_url: "http://alexeymk.com/images/alexey.jpg", // TODO get photo
          zipcode: 42410 // TODO forreal
      }}).always(function(response, status) {
        console.log(response, status);
      });
    });
  </script>


<h1>Listing celebrities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @celebrities.each do |celebrity| %>
      <tr>
        <td><%= celebrity.name %></td>
        <td><%= celebrity.message %></td>
        <td><%= link_to 'Show', celebrity %></td>
        <td><%= link_to 'Edit', edit_celebrity_path(celebrity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Celebrity', new_celebrity_path %>
